body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#politica_datos input {
    float: left;
}

#titulo {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
