body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

aside {
    float: right;
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

h1, h2 {
    margin-bottom: 10px;
}

a {
    color: #333;
}

a:hover {
    color: #555;
}

table {
    border-color: #333;
}

img {
    width: 500px;
    height: 500px;
}
