/* Styles for both desktop and mobile */
.escritorio body, * {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles for desktop */
.escritorio header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.escritorio header nav ul {
    list-style-type: none;
}

.escritorio header nav ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

.escritorio header nav ul li a {
    color: #fff;
}

.escritorio main {
    padding: 20px;
}

.escritorio section {
    margin-bottom: 20px;
}

.escritorio aside {
    float: right;
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
}

.escritorio footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.escritorio article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.escritorio h1, h2 {
    margin-bottom: 10px;
}

.escritorio a {
    color: #333;
}

.escritorio a:hover {
    color: #555;
}

.escritorio img {
    width: 500px;
    height: 500px;
}

.escritorio main section article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.escritorio main section article div {
    margin-right: 25px;
}


/* Styles for mobile */
.movil header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.movil header nav menu {
    list-style-type: none;
}

.movil header nav menu div item {
    display: inline;
    margin-right: 20px;
}

.movil header nav menu div item a {
    color: #fff;
}

.movil main section article image {
    width: 100%;
}

.movil main section article info table-container {
    overflow-x: auto;
}

.movil main section article info table-container table {
    border-color: #333;
    width: 100%;
    border-collapse: collapse;
}

.movil footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 800px) {
    .movil {
        display: block;
    }
    .escritorio {
        display: none;
    }   
}
